/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */


body{
  background-color: darkgray;
}
/* 
.header{
  background-color: rgb(253, 253, 253);
  border: 2px solid black;
  display: flex;
  
}
.header h1{
margin-left: 200px;

}

.header img{
width: 50px;
height: 50px;
margin-top: 20px;
margin-left: 30px;
}
 */
/* 
.sectionTodo{
  margin-top: 30px;
  font-size: large;
  font-style: italic;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  
  
}

.sectionTodo input {
height: 30px;
border: 1px solid green;
margin-left: 10px;
}

.sectionTodo label{
  margin-left: 50px;
  
}
.sectionTodo ol{
  margin-left: 50px;
  
}



.add{
  height: 34px;
  background-color: rgb(71, 236, 71);

}

.delete{
  background-color: rgb(190, 60, 60);
  margin-left: 5px;

}

.edit{
  background-color: green;
  margin-left: 15px;

}

.delall{
  height: 34px;
  background-color: rgb(248, 0, 0)
}


  */















.footer{
  background-color: blue;
  display: inline;
}